[mysqld]
# 文字コード
character-set-server=utf8mb4
# TimeStamp型のカラムを持つときに有用らしい
explicit-defaults-for-timestamp=1
# 実行したクエリの全ての履歴が記録される（defaultではOFFになっているらしい）
general_log = 1
# ログの出力先
general_log_file = /var/lib/mysql/mysql-query.log
# MySQL 8.0以降の認証方式を古いものに変更する？
default_authentication_plugin=mysql_native_password

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
